.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--primary-horizontal-padding);
  background: black;
  height: 80px;
  border-bottom: var(--primary-border);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > * {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-links > *:not(:first-child) {
  margin-left: 40px;
}

#logo {
  color: white;

  text-decoration: none;
  font-weight: bold;
  font-size: var(--primary-heading-font-size);
}
